<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<div id="content">
  <div style="display:inline-flex; margin-right: 2ch">
    Subreddit:  
  </div>
  <div style="display:inline-flex; width: 25ch" >
    {{this.url}}
  </div>
  <div style="display:inline-flex">
    <button mat-raised-button (click)="openDialog()">Change Sub-Reddit</button>
  </div>
  <div style="display:inline-flex; position:absolute; right: 20px;">
    <button mat-raised-button>RELOAD DATA</button>
  </div>
</div>
<app-data-table></app-data-table>



