.content {
    width: 80%;
    margin: 20px auto;
}

.label
{
    min-height: 32px;    
    font-size: 20px;    
    justify-content:center;
    display:inline-flex; 
    margin-right: 2ch
}

.response
{
    min-height: 32px;    
    font-size: 20px;    
    justify-content:center;
    display:inline-flex; 
    margin-right: 2ch;
    display:inline-flex; 
    width: 25ch
}
.data-table {
    width: 80%;
    margin: 20px auto;
}
.resulttable {
    overflow: auto;
    width: 98%;
    margin: 20px auto;
  }

mat-header-cell {
    min-height: 32px;    
    font-size: 20px;
    display:flex;
    justify-content:center;
}

/* Column Widths for scores & commetns*/
.mat-column-score,
.mat-column-comment {
  max-width: 128px;
  display:flex;
  justify-content:center;
}
