/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

body {
    margin: 0;
    background: rgb(63, 63, 66);
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}